body {
    box-sizing: border-box;
    background-color: #F6D3BC;
    font-family: cursive, Arial;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.alert {
    width: 100px;
    height: 80px;
    background-color: #FC392A;
}

.succe {
    width: 100px;
    height: 80px;
    background-color: #43FC2A;
}

//// selecteur de pages ////
.titleSelect {
    h3 {
        text-align: center;
        color: #943a07;
        border-bottom: solid 2px;
        border-right: solid 0.5px;
        margin: 10px 8% 20px;
        padding-bottom: 10px;
        box-shadow: 5px 5px 10px #ab621b;
        text-shadow: 1px 1px #000;
    }
    p {
        margin: 20px;
    }
}

.select {

    margin: 20px auto;
    display: flex;
    justify-content: center;
    -webkit-width: 90%;
    -webkit-margin: 20px auto;
    select {
        background-color: lightgreen;
        padding: 3px;
        border-radius: 5px;
    }
}

button,
input {
    padding: 5px 10px;
    border-radius: 30px;
    color: #8b0000;
    background-color: #ffe4c4;
    font-weight: bold;
    font-family: cursive;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #943a07;
    border-bottom: solid 2px;
    padding: 15px;
    margin: 60px 15% 50px;
    box-shadow: 5px 5px 10px #ab621b;
    text-shadow: 1px 1px #000;
    text-wrap: wrap;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
    .alert {
        width: 200px;
        height: 100px;
        background-color: #FC392A;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
        color: #943a07;
        border-bottom: solid 2px;
        padding: 15px;
        margin: 30px 15% 50px;
        box-shadow: 5px 5px 16px #ab621b;
        text-shadow: 1px 1px #000;
        text-wrap: wrap;
    }

    .succe {
        width: 200px;
        height: 100px;
        background-color: #43FC2A;
    }

}

@media only screen and (min-width: 1300px) {
    body {
        font-size: 20px;
    }
    .titleSelect p {
        width: 80%;
        margin: 20px auto;
    }
}

@media only screen and (min-width: 1600px) {
    body {
        font-size: 28px;
    }
}
