header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 10px;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    background: linear-gradient(180deg, rgba(233, 233, 233, 1) 27%, rgba(208, 100, 2, 1) 100%);
    nav {
        width: 100%;
        height: 75px;
        padding: 10px;
        ul {
            height: 40px;
            display: flex;
            justify-content: space-around;
        }
        li {
            list-style: none;
            text-align: center;
            a {
                text-decoration: none;
                color: #fff;
                background: radial-gradient(circle, rgba(63, 94, 251, 0.8225665266106442) 11%, rgba(252, 132, 70, 1) 100%);
                padding: 10px 25px;
                border-radius: 50%;
                box-shadow: 3px 1px 1px brown;
                text-shadow: 1px 1px red;
            }
        }

    }
}

a:hover {
    background-color: #000;
    color: #fefee2;
}



@media only screen and (max-width: 600px) {

    .header {
        visibility: hidden;
    }
}
