.form {
    width: 65%;
    margin: 30px auto;
    background-color: brown;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    label:after {
        content: "*";
        color: red;
    }
}

input {
    margin: 10px 0;
}

.infoConnect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-size: medium;
}

.small {
    text-decoration: none;
    color: #000;
}


@media only screen and (min-width: 1300px) {
    .form {
        width: 30%;
    }
}
