body {
    font-family: Helvetica, Arial;
    background-color: #914438;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #D7EDF6;
}

/* //////////// header ///////////*/

/*////// barre navigation ////*/

header {
    text-align: center;
}

nav {
    padding: 20px;
    position: sticky;
    top: 5px;
    z-index: 1;
}

a {
    text-decoration: none;

    color: #000;
    padding: 6px;
    border-radius: 30px;
}

a:hover {
    background-color: #fff;
    color: darkred;
}

ul {
    display: flex;

    justify-content: space-between;
    background-color: bisque;
    padding: 15px;
    opacity: 0.6;
}

li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.flagB {
    height: 180px;
    margin: 10px 0 40px;
    display: flex;
    align-items: center;

}

.flagA img {
    height: 70px;
    width: 140px;
}

.flagB img {
    width: 200px;
    height: 130px;
}



figure {
    margin: 0;
    position: relative;
}

figure img {
    height: 600px;
    width: 470px;
    border-radius: 50%;
}

figcaption {
    position: absolute;
    bottom: 85px;
    left: 36px;
    font-size: 2em;
    color: #1d2221;
    font-weight: bold;
    width: 400px;
}


/*///////// main //////////*/

main {
    background-image: url("images/mainu.jpg");
    background-size: 100% 100%;
    text-align: center;
    padding-top: 20px;
    font-family: cursive;
    font-size: 1.3em;
    border-radius: 10px;
    color: #000;
    width: 90%;
    margin: 10px auto;
}

/*///// section //////*/

.head-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-main img {
    width: 50px;
    height: 50px;
    padding: 0 50px 0;
}


/*///// section panier ///////*/

.paner {
    display: flex;
    flex-direction: column;

}

/*//////// Formulaire /////////*/

form {
    width: 40%;
    margin: 10px auto;
    padding: 30px;
}

input,
label,
textarea {
    margin: 15px;
}

fieldset {
    border: 2px solid darkred;
}

legend {
    float: none;
    width: auto;
    padding: 20px;
}



/*//////// 1 ere section //////////////*/

/*//// premier article premier livre ///////*/

.first-Book {
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
}

.paraA {
    line-height: normal;
}

.first-Book div {
    height: 300px;
    width: 310px;
    text-align: center;
    border: solid 1px aqua;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.item1 img {
    height: 90%;
    width: 90%;
}

.item2 {
    display: flex;
    align-items: center;
    padding: 10px;
    word-spacing: 0.6em;
}

.item3 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item3 h3 {
    margin-bottom: initial;
}

.item3 p {
    margin: 0 auto 10px auto;
}

.item3 label {
    margin: 20px 5px 2px;
}

.item3 select {
    margin: 20px 5px 2px;
}

/*//// deuxieme article deuxieme livre livre ///////*/

.two-Book {
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
}

.two-Book div {
    height: 300px;
    width: 310px;
    text-align: center;
    border: solid 1px aqua;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

/*//// troisieme article Troisieme livre livre ///////*/

.three-Book {
    display: flex;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
}

.three-Book div {
    height: 300px;
    width: 310px;
    text-align: center;
    border: solid 1px aqua;
    margin: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}

/*/// fin des livres Panier //////*/

#paner {
    border: solid 2px #000;
    width: 80%;
    height: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

#paner div {
    border: solid 2px red;
    height: 300px;
    width: 80%;
    margin: auto;
}

/*//////// photo carousel ///////*/

.carousel {
    width: 85%;
    height: 500px;
    margin: auto;
}

.carousel img {
    height: 450px;
}

/*/////////// footer ////////*/

footer {
    height: 60px;
    background-color: #2E3737;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
